.dynamic-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    left: 50%;
    translate: -50%;
}
.sad-face-icon {
    cursor: pointer;
    width: min(clamp(30px, 30vh, 500px), clamp(30px, 50vw, 500px));
    margin-bottom: clamp(5px, 2vh, 50px);
    animation: floatAnimation 2s infinite ease-out;
    transform-origin: center;
}
.box-label.id {
    width: 75vw;
    text-align: center;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    33% {
        transform: translateY(-5px) rotate(1.5deg);
    }
    66% {
        transform: translateY(-5px) rotate(-1.5deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}