:root {
    --border-radius: 5px;
    --dark-gray-color: #222;
    --light-gray-color: #666;
    --lighter-gray-color: #888;
    --border-color: #d1d1d1;
    --light-border-color: #e2e2e2;
    --padding-clamp-small: clamp(2px, 0.5vh, 4px) clamp(5px, 1vh ,10px);
    --padding-clamp-medium: clamp(4px, 1vh, 8px) clamp(10px, 2vh ,20px);
    --padding-clamp-large: clamp(7px, 1vh, 14px) clamp(18px, 2vh ,36px);
}
.home-container {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    top: max(2vw, 3vh);
    left: max(2vw, 3vh);
    cursor: pointer;
    font-size: clamp(12px, 2vw, 16px);
}
.home-icon {
    width: max(clamp(20px, 2.25vw, 50px), clamp(20px, 4vh, 50px));
    margin-right: 5px;
    transition: filter 0.3s ease-in-out;
}
.home-text {
    translate: 0 10px;
    opacity: 0;
    transition: all 0.3s ease;
}
.home-container:hover .home-icon {
    filter: saturate(50%);
}
.home-container:hover .home-text {
    translate: 0;
    opacity: 1;
}
.main-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main-container {
    position: relative;
    left: 50%;
    top: clamp(80px, 25vh, 500px);
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    position: relative;
    width: 100%;
    font-size: min(clamp(24px, 6vh, 48px), clamp(24px, 10vw, 48px));
    text-align: center;
    margin-top: max(18vh, 5vw);
    color: var(--dark-gray-color);
    user-select: none;
    transition: all 0.2s ease-in-out;
    transition: opacity 0.75s ease-in-out;
    opacity: 0;
}
.title.fade {
    opacity: 1;
}
.slogan {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: min(clamp(16px, 4vh, 24px), clamp(16px, 6vw, 24px));
    text-align: center;
    margin-top: 1vh;
    color: var(--light-gray-color);
    user-select: none;
    transition: all 1s cubic-bezier(0.6, 0, 0.1, 0.75);
    opacity: 0;
    translate: 0 clamp(10px, 3vh, 50px);
}
.slogan.slide {
    translate: 0;
    opacity: 1;
}
.button {
    background-color: #47C9B9;
    margin-top: clamp(5px, 10vh, 100px);
    border: none;
    color: white;
    font-size: clamp(16px, 5vh, 24px);
    border-radius: var(--border-radius);
    padding: var(--padding-clamp-medium);
    padding: clamp(4px, 1vh, 8px) clamp(15px, 3.5vh ,30px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
.button:hover {
    background-color: #5ad6c7;
}
.footer {
    user-select: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: clamp(25px, 8vh, 70px);
    border-top: 1px solid var(--light-border-color);
}
.footer-icons-text {
    font-size: min(clamp(12px, 1vw, 14px), clamp(12px, 1vh, 14px));
    margin: 0 clamp(5px, 1vw, 10px);
    color: var(--lighter-gray-color);
}
.footer-icon-container {
    position: relative;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: max-content;
}
.footer-icon {
    height: max(clamp(10px, 2.2vh, 20px), clamp(10px, 2vw, 20px));
    margin: 0 clamp(5px, 1vw, 10px);
}
@media (orientation: landscape) and (max-height: 360px) {
    .title {
        margin-top: max(10vh, 5vw);
    }
}